@CHARSET "UTF-8";

._bold {
	font-weight: bold;
}

._italic {
	font-style: italic;
}

._center {
	text-align: center;
}

._right {
	text-align: right;
}

._elem_center {
	margin-left: auto;
	margin-right: auto;
}

.fleft {
	float: left
}

.fright {
	float: right
}

.bclear {
	clear: both
}

/* width % */
.wd_5 {
	width: 5%;
}
.wd_10 {
	width: 10%;
}
.wd_15 {
	width: 15%;
}
.wd_20 {
	width: 20%;
}
.wd_25 {
	width: 25%;
}
.wd_30 {
	width: 30%;
}
.wd_35 {
	width: 35%;
}
.wd_40 {
	width: 40%;
}
.wd_45 {
	width: 45%;
}
.wd_50 {
	width: 50%;
}
.wd_55 {
	width: 55%;
}
.wd_60 {
	width: 60%;
}
.wd_65 {
	width: 65%;
}
.wd_70 {
	width: 70%;
}
.wd_75 {
	width: 75%;
}
.wd_80 {
	width: 80%;
}
.wd_85 {
	width: 85%;
}
.wd_90 {
	width: 90%;
}
.wd_95 {
	width: 95%;
}

.first_cell {
	padding-left: 5px
}

legend{
	padding: 5px;
	font-weight: bold;
	margin-left: 5%
}

a.no_dec {
	text-decoration: none
}

a.standard_link {
    text-decoration: none;
    text-transform: uppercase
}

.no_border {
    border: 0 !important;
}

form.no_border {
    border: 0;
    padding: 0
}

.nav_link_first {
    margin-right: 10px;
}

.nav_link {
    margin-right: 10px;
    margin-left: 10px
}

.nav_link_last {
    margin-left: 10px
}

.attention {
    color: rgba(200, 6, 6, 1) !important;
}

.no_display .ui-dialog-titlebar {
    display: none;
}

.popup_form {
    border: 1px solid rgba(30, 67, 137, 1);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin-top: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.popup_form fieldset {
    border: 1px solid rgba(30, 67, 137, .6);
}

fieldset {
    border: 1px solid rgba(30, 67, 137, .6);
}

.popup_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px
}

.popup_row {
    height: 20px;
}

.popup_title {
    padding-left: 10px;
    font-weight: bold;
}

.popup_body {
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0
}

#popup_main {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto 0 auto;
    padding: 0;
}

#popup_main a {
    color: #1E4389;
    text-decoration: none;
}

