@CHARSET "UTF-8";

body {
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, .84);
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

form {
    border-radius: 10px;
    padding: 15px 0 15px 0;
    margin-top: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

input, select, textarea {
    border-radius: 2px;
    font-size: 0.9em
}

table {
    border-collapse: collapse;
}

#header {
    width:  1020px;
    margin: 10px auto 0 auto;
    background-image: none;
    height: 40px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.38);
    box-shadow:  0px 2px 2px 0px rgba(50, 50, 50, 0.38);
}

#header a {
    text-decoration: none;
    font-size: 1.1em;

}

#sc_firstrow {
    width: 50%;
    float: left;
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px
}

#sc_secondrow {
    width: 44%;
    float: left;
    font-size: 1.0em;
    font-family: Georgia, serif;
    font-weight: bold;
    text-align: right;
    margin-top: 15px;
    margin-left: 35px;
    height: 30px
}

#main {
    width: 1020px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

#main a {
    text-decoration: none;
}

#left_col {
    padding-top: 20px;
    margin-right: 270px;
    background-color: #FFFFFF;
}

#right_col {
    float: right;
    width: 270px;
    border-radius: 0 0 0 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px 1px 2px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    -1px 1px 2px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         -1px 1px 2px 0px rgba(50, 50, 50, 0.38);
}

#left_col, #right_col {
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

#footer {
    clear: both;
    font-size: 1em;
    color: #263238;
    width: 1020px;
    margin: 10px auto 0 auto;
    text-align: right;
    height: 15px;

}

#footer span {
    border-top: 1px solid #263238;
}

#footer a {
    text-decoration: none;
    color: #263238
}

#navigation {
    width: 1020px;
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 auto 0 auto;
    padding-top: 6px;
    height: 40px;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#navigation a {
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}

.nav_div {
    float: left;
    text-transform: uppercase;
    width: 350px;
    font-size: 0.9em;
}

.nav_div a {
    font-weight: normal;
    position: relative;
    top: 5px;
}

div.card_container {
    width: 90%;
    margin: auto;
}

div.card {
    width: 98%;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.normal, a.normal {
    color: #1E4389 !important;
}

.card_title a.normal, .card a.normal {
    color: #1E4389 !important;
}

div.minicard {
    width: 40%;
    float: left;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
}

div.rowcard {
    width: 100%;
    float: left;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
}

div.halfrowcard {
    width: 300px;
    height: 25px;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
}

div.card_title {
    width: 100%;
    height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
}

div.card_nocontent {
    border-bottom: 0;
}

div.card_content {
    width: 100%;
    height: 35px;
    font-size: 1em;
    border-top: 1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
    color: #212121;
}

div.card_minicontent {
    width: 100%;
    min-height: 25px;
    font-size: 1em;
    border-top: 1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1E4389;
}

div.card_longcontent {
    width: 100%;
    height: 55px;
    font-size: 1em;
    border-top: 1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
}

div.card_varcontent {
    width: 100%;
    font-size: 1em;
    border-top: 1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
    padding-bottom: 5px;
}

div.card_row {
    width: 90%;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.no_permission {
    background-color: #F4F4F4 !important;
}

p.card_row {
    margin: 0;
    padding: 0
}

img#open_drawer {
    cursor: pointer;
}

div.drawer {
    width: 300px;
    height: 470px;
    background-color: #FAFAFA;
    position: absolute;
    box-shadow: 0 19px 10px rgba(0, 0, 0, 0.2);
    z-index: 300;
}
div.drawer_link {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(30, 67, 137, .1);
    position: relative
}

.separator {
    border-bottom: 1px solid rgba(30, 67, 137, .7) !important;
}

.submenu a {
    /* padding-left: 30px; */
    margin-left: 30px;
}

div.drawer_label {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(30, 67, 137, .7) !important;
    position: relative;
    font-family: Georgia, serif;
    font-size: 1.1em;
    color: rgba(30, 67, 137, 1);
    text-align: left;
    font-weight: bold;
}

p#drawer_label {
    font-weight: 600;
}

.drawer_label span {
    position: relative;
    top: 10px;
    left: 10px;
}

div.drawer_link a, div.drawer_lastlink a {
    font-family: Georgia, serif;
    font-size: 1.1em;
    text-decoration: none;
    color: rgba(30, 67, 137, 1);
    position: relative;
    padding-left: 10px;
    top: 25%
}

div.drawer_lastlink {
    width: 100%;
    height: 35px;
    border-top: 1px solid rgba(30, 67, 137, .1);
    background-color: #F1F1F1;
    position: relative;
    bottom: 0
}

div.navigate {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 5px;
    height: 30px;
    text-align: center;
}

div.navigate span {
    position: relative;
    top: 7px
}

div.navigate a {
    position: relative;
    top: 7px;
}

.overlay{
    background:#000;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    cursor:pointer;
    /*Trasperenza cross browser*/
    opacity: .3; filter: alpha(opacity=30);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

fieldset {
    border-radius: 4px;
}

.context_menu, #hid, #tipinota, .tooltip, #d_tp {
    background-color: #F8F8F8;
    padding: 10px;
    border: 1px solid rgba(30, 67, 137, .2);
    border-radius: 2px;
    box-shadow: 0 0 5px #666;
    color: #222222;
    z-index: 100;
    position: absolute;
}
.context_menu a, #pop a, #hid a, #tipinota a, #d_tp a {
    text-decoration: none;
    color: rgba(30, 67, 137, 1);
}

.smallbox {
    color: #333333;
    text-align: right;
    margin: 30px 20px 20px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF
}

div.mdtabs {
    width: 100%;
    height: 18px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
    text-align: center;
}

div.mdtab {
    width: 100px;
    float: left;
    text-align: center;
}

div.mdtab a > span {
    color: #CCCCCC;
}

p.accordion {
    margin: 0 0 15px 0;
    height: 25px;
    width: 250px;
    border: 1px solid rgba(30, 67, 137, .8);
    border-radius: 5px 5px 0 0;
    background-color: rgba(30, 67, 137, .5);
    text-align: center;
}

a.accordion {
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 20%
}

div.accordion {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1px solid rgba(30, 67, 137, .8);;
    border-radius: 0 5px 0 0;
    background-color: rgba(211, 222, 199, 0.1);
    padding: 5px 0 5px 0;
}

.outline_line_wrapper {
    width: 95%;
    margin: 0 auto 0 auto;
    height: 30px;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: -20px;
}

.rb_button {
    width: 40px;
    height: 40px;
    position:relative;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.rb_bg {
    background-color: #FFF3E0;
}

.conf_frame {
    border-radius: 3px;
}

.accent_button {
    padding: 0;
    line-height: 25px;
    text-align: right;
    width: 40%;
    position: relative;
    left: 60%;
}

.accent_button a, a.material_link, .material_label {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    font-size: .95em;
    font-weight: 400;
}

.list_row {
    height: 18px;
    border-bottom: 1px solid rgba(30, 67, 137, .2);
}

.list_row_menu {
    height: 35px;
    vertical-align: middle;
}

.bottom_decoration {
    border-bottom: 1px solid rgba(30, 67, 137, .2);
}

.page_menu{
    background-color: #FEFEFE;
    padding: 10px;
    border: 1px solid rgba(30, 67, 137, .4);
    border-radius: 4px ;
    color: #222222;
    box-shadow: 0 0 8px #666;
    z-index: 100
}

.page_menu a {
    color: #222222;
    text-decoration: none
}

.welcome, #welcome {
    margin: 25px 10px 5px 50px;
}

div.welcome:first-of-type {
    padding-top: 25px;
    margin-top: 0;
}

#schedule {
    margin: 40px 10px 20px 50px;
}

#s_head {
    width: 280px;
    padding: 0 0 10px 30px;
    border-bottom: 1px solid #6B6E67;
    background: url(../images/70.png) no-repeat;
    text-transform: uppercase;
    font-size: 1.1em
}

.s_hour {
    margin: 0;
    padding: 3px 0 0 30px;
    line-height: 16px;
    background: url(../images/list.png) no-repeat;
    background-position: left bottom;
}


#w_head {
    width: 280px;
    padding: 0 0 10px 30px;
    border-bottom: 1px solid #1E4389;
    background: url(../images/26.png) no-repeat;
    font-weight: bold;
}


#head_label {
    float: left;
    width: 500px;
    margin-left: 20px;
    color: #FFFFFF;
    height: 30px;
}

.w_text {
    padding: 0 0 5px 0;
}

.attention {
    color: rgba(200, 6, 6, 1) !important;
}

.attention_bg {
    background-color: rgba(200, 6, 6, .7) !important;
    color: white;
}

.attention_bg a {
    color: white !important;
}

#hd a.attention:link  {
    color: rgb(131, 2, 29);
    text-decoration: none
}

#hd a.attention:visited  {
    color: rgba(191, 12, 50, 0.6);
    text-decoration: none
}

.menublock  {
    list-style-type: disc;
}

.menublock a {
    color: #373946;
    font-size: 1em;
    text-decoration: none
}

#working.smallbox {
    border: 0
}

.menu_head {
    font-size: 1.5em;
    background: url(../images/39.png) no-repeat;
    background-position: left baseline;
    width: 60%; float: right;
    border-bottom: 1px solid #6B6E67;
    padding-bottom: 8px
}

.menu_docs_head {
    font-size: 1.5em;
    background: url(../images/9.png) no-repeat;
    background-position: left baseline;
    width: 60%; float: right;
    border-bottom: 1px solid #6B6E67;
    padding-bottom: 8px
}

.act_icon {
    background: url(../images/14.png) no-repeat;
    background-position: right top;
}

.class_icon {
    background: url(../images/31.png) no-repeat;
    background-position: right top
}

.pers_icon {
    background: url(../images/13.png) no-repeat;
    background-position: right top
}

.schedule_icon {
    background: url(../images/35.png) no-repeat;
    background-position: right top
}

.data_icon {
    background: url(../images/33.png) no-repeat;
    background-position: right top
}

.day_icon {
    background: url(../images/70.png) no-repeat;
    background-position: right top
}

.com_icon {
    background: url(../images/57.png) no-repeat;
    background-position: right top
}

.mod_icon {
    background: url(../images/39.png) no-repeat;
    background-position: right top
}

.change_icon {
    background: url(../images/42.png) no-repeat;
    background-position: right top
}

.classbook_icon {
    background: url(../images/28.png) no-repeat;
    background-position: right top
}

.gradebook_icon {
    background: url(../images/4.png) no-repeat;
    background-position: right top
}

#pop a {
    color: #373946;
}

.field {
    border: 1px solid #C5C5C5;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.docs_row {
    height: 18px;
    border-bottom: 1px solid rgba(30, 67, 137, .5);
}

.docs_row_menu {
    background-color: rgba(30, 67, 137, .1);
}

.manager_row {
    border-bottom: 1px solid rgba(30, 67, 137, .3);
    height: 35px;
    vertical-align: top;
}

.manager_row_small {
    border-bottom: 1px solid rgba(30, 67, 137, .3);
    height: 20px;
    vertical-align: middle;
}

.manager_row_xsmall {
    border-bottom: 1px solid rgba(30, 67, 137, .3);
    height: 15px;
    vertical-align: middle;
}

.manager_row_menu {
    border-bottom: 1px solid rgba(30, 67, 137, .3);
    height: 18px;
    background-color: rgba(30, 67, 137, .1);
}

p.spacer {
    height: 50px;
    clear: right
}

form.reg_form {
    width: 85%;
    margin: 15px auto 0 auto;
    border: 1px solid rgba(30, 67, 137, .6);
    border-radius: 10px;
    padding: 10px 0 10px 0;
    text-align: left
}

.label_form {
    font-weight: bold;
}

.page_label {
    width: 95%;
    height: 30px;
    margin: 10px auto 0 auto;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase
}

/*
	docs
*/
p.tipo {
    width: 90%;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid rgba(211, 222, 199, 0.9);

}

a.tipo {
    font-size: 1em;
    font-weight: normal;
    margin-left: 0px;
    text-decoration: none;
    text-transform: uppercase
}

a.new_doc {
    float: right;
    margin-right: 20%;
    text-decoration: none
}

div.tipo {
    width: 90%;
    border: 1px solid rgba(211, 222, 199, 0.9);
    border-radius: 0 0 5px 5px;
    background-color: rgba(211, 222, 199, 0.1);
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
}

p.anno {
    margin: 0 0 0 0;
    height: 15px;
}

a.anno {
    text-decoration: none;
    font-weight: normal;
    margin-left: 15px
}

div.anno {
    width: 90%;
    margin: 0 0 0 15px;
    border: 1px solid rgba(211, 222, 199, 0.6);
    border-radius: 0 5px 0 5px;
    background-color: rgba(208, 235, 179, 0.1);
    padding: 5px 0 5px 0;
}

p.doc {
    margin: 5px 0 5px 25px;
    height: 38px;
    border-bottom: 1px solid rgba(211, 222, 199, 0.5);
    line-height: 14px;
    padding-top: 6px;
}

a.doc {
    text-decoration: none;
}

a.standard_link {
    text-decoration: none;
    text-transform: uppercase
}

/* elenco_alunni.php */
#std_list {
    margin-top: 20px
}
#std_list_ctx {
    text-align: left;
    position: absolute;
    width: 150px;
    height: 60px;
    display: none;
}

#reg_button {
    margin-top: 30px;
    margin-right: 5%;
}

div.row {
    margin-bottom: 5px;
    position: relative
}

.manager_table tbody tr:hover {
    background-color: rgba(30, 67, 137, .1);
}

/* tabs in manager */
.tab {
    width: 40px;
    border-right: 1px solid #CCC;
    float: left;
    text-align: center;
    height: 20px;
    padding-top: 5px
}

.large_tab {
    width: 140px;
    border-right: 1px solid #CCC;
    float: left;
    text-align: center;
    height: 20px;
    padding-top: 5px
}

.selected {
    font-weight: bold
}

#tabs {
    width: 100%;
    height: 25px;
    margin: 0 0 10px 30px;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    background-color: rgba(30, 67, 137, .2);
    border: 1px solid rgba(30, 67, 137, .5);
    border-radius: 5px;
}

/*
 * admin pages
 */
.col1 {
    width: 40%
}

.col2 {
    width: 60%;
}

.admin_table {
    width: 90%;
    margin: 5px auto 0 auto;
    border-collapse: collapse;
}

.admin_table tr {
    border-bottom: 1px solid rgba(30, 67, 137, .2);
}

.admin_table a {
    text-decoration: none;
}

.admin_title_row {
    font-weight: bold;
    text-align: center;
    height: 30px;
    font-size: 15px;
    text-shadow: 3px 3px 3px #b9c7cf;
}

tr.admin_row {
    border-bottom: 1px solid rgba(30, 67, 137, .2);
    height: 36px;
    vertical-align: top;
    color: #373946;
}

tr.admin_row_small {
    border-bottom: 1px solid rgba(30, 67, 137, .2);
    height: 22px;
    vertical-align: middle;
    color: #373946;
}

tr.admin_row_before_text{
    height: 15px;
    border: 0;
}

tr.admin_void {
    height: 5px;
    border-bottom: 0;
}

.adm_titolo_elenco {
    height: 18px;
    font-weight: bold;
    font-size: 1em;
    background-color: rgba(30, 67, 137, .3)
}

.admin_menu {
    height: 25px;
    text-align: right;
    border: 0
}

.admin_nav {
    height: 20px;
    text-align: center;
    background-color: rgba(211, 222, 199, .4);
}

.popup_body {
    background-color: #ffffff;
    background-image: none;
}

.popup_form {
    border: 1px solid rgba(30, 67, 137, .9);
    border-radius: 10px;
    padding: 15px 0 15px 0;
    margin-top: 20px;
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto
}

.popup_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px
}

.popup_row {
    height: 20px;
}

.popup_title {
    padding-left: 10px;
    font-weight: bold;
}

.title_row{
    font-weight: bold;
    font-size: 1.1em;
    height: 25px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 0;
    vertical-align: middle;
}

.menu_label {
    color: #222222;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: right;
    clear: right;
    padding-right: 30px
}

p#menu_label, .pop_label {
    text-align: center;
    padding: 2px 0 2px 0;
    width: 100%;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 1px solid #00796B;
}

div.admin_link_wrapper {
    width: 100%;
    text-align: center;
    background-color: rgba(30, 67, 137, .2);
    border: 1px solid rgba(30, 67, 137, .6);
    border-radius: 8px;
    padding: 5px
}

div.ticker_container {
    width: 450px;
}

#ticker, #tr_ticker {
    overflow: hidden;
    font-size: .9em;
    margin:0;
    padding:0;
    max-height: 108px;
    width: 450px;
}

#ticker li, #tr_ticker li {
    list-style:none;
    margin:0;
    height: 15px;
    color:#fff;
    padding:5px 10px;
}

.nowcard {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
    border-radius: 1px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.icon_card {
    position: relative;
    font-size: 18px;
    width: 50px;
    float: left;
    margin: 0;
    text-align: center;
    border-radius: 0 0 1px 1px;
    height: 30px;
}

.icon_card > span {
    padding: 6px 0 0 0;
}

.icon_card_accent {
    position: relative;
    font-size: 18px;
    width: 50px;
    float: left;
    margin: 0;
    text-align: center;
    border-radius: 0 0 1px 1px;
    height: 30px;
}

.icon_card_accent > span {
    padding: 6px 0 0 0;
}

.text_card {
    float: left;
    width: 140px;
    text-align: center;
    position: relative;
    bottom: 6px;
    font-weight: 600;
}

.text_card a {
    font-weight: 600;
}

input.android, select.android, textarea.android {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border-width: 0 0 1px 0;
    border-color: rgba(30, 67, 137, .6);
    border-style: solid;
    font-size: 1em
}

input.android:focus, select.android:focus, textarea.android:focus {
    border-width: 0 0 2px 0;
}

._bold {
	font-weight: bold;
}

._italic {
	font-style: italic;
}

._center {
	text-align: center;
}

._right {
	text-align: right;
}

._elem_center {
	margin-left: auto;
	margin-right: auto;
}

.fleft {
	float: left
}

.fright {
	float: right
}

.bclear {
	clear: both
}

/* width % */
.wd_5 {
	width: 5%;
}
.wd_10 {
	width: 10%;
}
.wd_15 {
	width: 15%;
}
.wd_20 {
	width: 20%;
}
.wd_25 {
	width: 25%;
}
.wd_30 {
	width: 30%;
}
.wd_35 {
	width: 35%;
}
.wd_40 {
	width: 40%;
}
.wd_45 {
	width: 45%;
}
.wd_50 {
	width: 50%;
}
.wd_55 {
	width: 55%;
}
.wd_60 {
	width: 60%;
}
.wd_65 {
	width: 65%;
}
.wd_70 {
	width: 70%;
}
.wd_75 {
	width: 75%;
}
.wd_80 {
	width: 80%;
}
.wd_85 {
	width: 85%;
}
.wd_90 {
	width: 90%;
}
.wd_95 {
	width: 95%;
}

.first_cell {
	padding-left: 5px
}

legend{
	padding: 5px;
	font-weight: bold;
	margin-left: 5%
}

a.no_dec {
	text-decoration: none
}

a.standard_link {
    text-decoration: none;
    text-transform: uppercase
}

.no_border {
    border: 0 !important;
}

form.no_border {
    border: 0;
    padding: 0
}

.nav_link_first {
    margin-right: 10px;
}

.nav_link {
    margin-right: 10px;
    margin-left: 10px
}

.nav_link_last {
    margin-left: 10px
}

.attention {
    color: rgba(200, 6, 6, 1) !important;
}

.no_display .ui-dialog-titlebar {
    display: none;
}

.popup_form {
    border: 1px solid rgba(30, 67, 137, 1);
    border-radius: 10px;
    padding: 15px 0 15px 0;
    margin-top: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.popup_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px
}

.popup_row {
    height: 20px;
}

.popup_title {
    padding-left: 10px;
    font-weight: 500;
}

.popup_body {
    background-color: #FFFFFF;
    font-size: 0.9em;
    padding: 0;
    margin: 0
}

#popup_main {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto 0 auto;
    padding: 0;
}

#popup_main a {
    color: #1E4389;
    text-decoration: none;
}

.cardbody {
    background-color: #F6F6F6 !important;
}

.accent_button a:hover, a.material_link:hover {
    font-size: 1em;
}

._normal {
    font-weight: normal;
}

.cyan_contrast {
    background-color: #0097A7 !important;
    color: white !important
}

.blue_contrast {
    background-color: #448aff !important;
    color: #222222 !important
}

.yellow_contrast {
    background-color: #ffd740;
    color: #222222 !important;
}

.red_contrast {
    background-color: #d32f2f;
    color: white !important
}

.teal_contrast {
    background-color: #00695c !important;
    color: white !important
}

.cyan_contrast a, .blue_contrast a, .red_contrast a, .teal_contrast a {
    color: white !important;
}

div.material_card {
    width: 40%;
    height: 30px;
    float: left;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.material_card:first-of-type {
    margin-top: 0;
}

div.material_card a, div.material_card span {
    position: relative;
    top: .4em;
    font-weight: 600;
}

.material_row {
    min-height: 20px;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 2px;
    display: table;
}

.material_row_title {
    float: left;
    min-height: 20px;
    font-size: 1em;
    border-radius: 2px 0 0 2px;
    padding-left: 5px;
    padding-top: 8px;
    display: table-cell;
}

.material_row_text {
    margin: 0;
    float: right;
    padding-left: 10px;
    min-height: 20px;
    display: table-cell;
    padding-top: 8px;
}

input.material_input {
    border-width: 0 0 1px 0;
}

/*
reg_classe
*/
#cls_enter, #cls_exit {
    font-size: 1em;
    font-weight: 500;
    color: black;
    background-color: #FFFFFF;
    border: 0
}

table.registro {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
}

table.registro tbody a {
    text-decoration: none;
}

table.registro tr.nav_tr {
    height: 2.5em;
    text-align: center;
}

table.registro tr.head_tr_no_bg {
    height: 2.1em;
    text-transform: uppercase;
}

table.registro tr.head_tr_no_bg td:not(:first-of-type):not(:last-of-type) {
    border-right: 0;
    border-left: 0;
}
table.registro tr.head_tr_no_bg td:first-of-type {
    border-right: 0;
}
table.registro tr.head_tr_no_bg td:last-of-type {
    border-left: 0;
}

table.registro tr.head_tr {
    height: 2.5em;
    font-weight: bold;
    text-align: center
}

table.registro tr.head_tr a, div.group_head a {
    text-decoration: none;
    font-weight: normal !important;
}

table.registro td {
    border: 1px solid rgba(30, 67, 137, .3);
}

.riepilogo {
    height: 30px;
}

table.registro tr.riepilogo {
    border: 1px solid rgba(30, 67, 137, .8);
}

/*
j_alert
*/
.alert_msg, .error_msg, .confirm_msg {
    width: 300px;
    min-height: 150px;
    border-radius: 3px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
    z-index: 777;
}

.alert_title, .error_title, .confirm_title {
    margin: auto;
    padding: 5px 0 5px 10px;
    width: 90%;
    height: 30px;
    font-size: 1.6em;
}

.alert_title span, .error_title span, .confirm_title span {
    padding-left: 10px;
    font-size: 1em
}

.alert_msg .alertmessage {
    width: 90%;
    margin: 10px auto;
    font-size: 1.2em;
}

.error_msg .errormessage {
    width: 90%;
    margin: 10px auto;
    font-size: 1.2em;
}

.confirm_msg .confirmmessage {
    width: 90%;
    margin: 10px auto;
    font-size: 1.2em;
}

.confirmbuttons {
    width: 98%;
    margin: 10px auto 0 auto;
    overflow: hidden;
    height: 55px;
}

.confirmbuttonscontainer {
    float: left;
    width: 50%;
    text-align: center;
}

.confirmbuttonscontainer a {
    text-decoration: none;
}

.alert_button {
    width: 65px;
    height: 25px;
    border-radius: 2px;
    text-align: center;
    margin: 15px auto 0 auto;
    padding-top: 5px
}

.alert_button span {
    padding-top: 15px;
    color: white;
}

/*documents */
.float_button {
    display: none;
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 990;
    right: 475px;
    bottom: 15%;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2) !important;
}

.float_button i {
    font-size: 1.4em;
    padding: 13px 0 0 14px
}

.top_button {
    right: 405px;
}

/*
jQuery editInPlace
*/
p.edit form {
    border: none !important;
}
/*
end of jQuery editInPlace
*/

.esito_negativo {
    background-color: rgba(239, 154, 154, .3);
}

.esito_positivo {
    background-color: rgba(128, 203, 196, .3);
}

/*
forms
*/
.doc_title.mandatory::after {
    content: " *";
}

.disabled_link {
    color: #9E9E9E !important;
    cursor: default;
}

/*
end of forms
*/
div.material_container {
    width: 90%;
    margin: auto;
}

p.material_title {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
}

p.material_title span {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.beware {
    width: 280px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #1E4389;
    font-weight: bold;
}

.beware span {
    padding-left: 10px;
}

.beware i {
    font-size: 1.2em;
}

a.material_link {
    line-height: 16px;
}

#header #su {
    font-size: 1em;
    font-weight: bold;
}

/* communication */
#navbar {
    width: 90%;
    height: 40px;
    margin: auto;
    padding-left: 25px;
}

#threads, #sel_thread {
    width: 95%;
    margin: auto;
}

#sel_thread {
    /*border: 1px solid #EF6C6C;*/
    background-color: white;
}

#oth_user {
    width: 98%;
    margin: auto;
    height: 15px;
    font-size: 0.9em;
    padding-left: 10px
}

.thread {
    width: 100%;
    height: 50px;
}

.thread_header {
    width: 90%;
    margin: auto;
    height: 20px;
    font-size: 1em;
}

.thread_user {
    width: 65%;
    float: left;
    height: 20px;
}

.new_msg_sign {
    padding-left: 3px;
}

.thread_msg_count {
    width: 35%;
    float: left;
    height: 20px;
    text-align: right;
}

.thread_lm {
    width: 100%;
    height: 20px;
}

.thread_text {
    width: 90%;
    margin: auto;
    height: 30px;
    font-size: 0.9em;
    padding-top: 3px
}

#username {
    width: 60%;
    float: left;
    height: 20px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    top: 10%
}

#newmsg {
    float: left;
    background-position: right top;
    margin: auto;
}

#newmsg img {
    position: relative;
    top: 10%
}

#viewlist {
    float: left;
    background-position: right top;
    margin: auto;
    display: none
}

#viewlist img {
    position: relative;
    top: 10%
}

#message {
    float: left;
    width: 65%;
    height: 165px;
    margin-left: 5%;
    display: none;
}

#targets {
    width: 28%;
    display: none;
    float: right;
    padding: 10px 0 0 5px;
    font-weight: bold
}

#to {
    float: left;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    text-align: left
}

#target {
    width: 98%;
    height: 25px;
    border: none;
    float: left;
    text-align: left;
    padding-left: 10px;
    font-weight: bold
}

#get_to {
    float: left;
    width: 9%;
    height: 25px;
    margin-top: 5px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold
}

#get_target {
    width: 100%;
    border: none;
    text-align: center;
}

#txt {
    width: 99%;
    height: 115px;
    margin: 10px auto 0 auto;
}

#send_lnk{
    float: right;
    margin-right: 10px;
    margin-top: 0;
    height: 24px
}

.th_link {
    text-decoration: none
}

.message_detail {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.message_header {
    width: 90%;
    margin: auto;
    height: 20px;
    font-size: 0.9em;
}

.msg_send {
    width: 50%;
    float: left;
    height: 20px;
    padding-left: 10px;
    font-size: 0.8em;
}

.msg_read {
    width: 42%;
    float: left;
    height: 20px;
    text-align: right;
    padding-right: 10px;
    font-size: 0.8em;
}

.msg_text {
    width: 90%;
    margin: auto;
    font-size: 1em;
    padding: 5px;
    clear: both;
}

.my_msg {
    border-radius: 8px;
    margin-left: 48%;
}

.target_msg {
    border-radius: 8px;
}

.notification {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    display: none;
    width: 90%;
    height: 30px;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#iframe {
    clear: both;
    width: 70%;
    border: 0;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: inline-block
}

.evento {
    width: 90%;
    margin-top: 0;
    padding: 3px
}

#groups {
    width: 100%;
    margin: auto;
    height: 30px;
    position: relative;
    font-weight: normal;
}

#groups table {
    width: 95%;
    margin: 15px auto;
}

#groups table thead tr {
    height: 40px;
}

#groups table tbody tr {
    height: 20px;
}

/*
reported and deleted messages
communication
*/
.reported {
    background-color: #F4FF81 !important;
    border-width: 2px !important;
}

.deleted {
    background-color: rgba(63, 63, 63, 0.15) !important;
    border-width: 2px !important;
    border-color: rgba(63, 63, 63, 0.45) !important;
}

.deleted i {
}

/*
albo pretorio
*/
div.albo_document {
    width: 95%;
    min-height: 45px;
    margin-left: 2%;
    margin-top: 5px;
    color: #4B4B4B;
    border-bottom: 1px solid rgba(228, 228, 228,1);
    border-radius: 10px 0 0 0;
    overflow: hidden;
    padding-bottom: 10px;
}

div.odd {
    background-color: rgba(242, 252, 253, .6);
}

.albo_title {
    line-height: 12px;
    min-height: 2px;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    width: 90%
}

.albo_data {
    width: 90%;
    clear: both;
    position: relative;
    top: -5px;
    height: 20px
}

.albo_data_line {
    height: 2px;
    font-size: 11px;
    margin-left: 10px
}

/* dashboard buttons */

.icon_button {
    font-size: 30px;
    width: 80px;
    margin: 0 auto;
    border-radius: 3px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_button > i {
    margin:auto;
}

.dashboard_card {
    width: 150px;
    border: 1px solid #c0c0c0;
    margin: 15px auto 0 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}

.dashboard_minicard {
    width: 150px;
    height: 80px;
    border: 1px solid #c0c0c0;
    margin: auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}

.dashboard_card_title {
    width: 150px;
    height: 20px;
    margin-top: 0;
    padding-top: 5px;
    border-bottom: 1px solid #c0c0c0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.dashboard_card_body {
    width: 140px;
    height:60%;
    margin: 0;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dashboard_card_row {
    width: 150px;
    height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    border-bottom: 1px solid #c0c0c0;
    text-align: center;
}

div.dashboard_card_row p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.dashboard_fieldset {
    margin: 20px auto 0 auto;
    width: 80%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.round_label {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-bottom: 1px solid #c0c0c0;
    color: white;
    font-weight: bold;
    background-color: #1a237e;
    align-items: center;
    align-content: center;
    flex: 0 1 auto;
    margin-left: 5px;
    cursor: pointer;
}

.round_label div {
    margin-top: 3px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.round_minilabel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-bottom: 1px solid #c0c0c0;
    color: white;
    font-weight: bold;
    background-color: #1a237e;
    align-items: center;
    align-content: center;
    flex: 0 1 auto;
    margin-left: 5px;
    cursor: pointer;
}

.round_minilabel div {
    font-size: 0.8em;
}