.overlay_dydrich {
	background-color: #373b3b;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.dydrich_nw {
  border-radius: 10px 0 0 0;
  background-color: #000000;
  width:20px;
  height:35px;
}

.dydrich_n {
  background: #000000;	
  height:35px;
}

.dydrich_ne {
  border-radius: 0 10px 0 0;
  background-color: #000000;		
  width:20px;	  
  height:35px;
}

.dydrich_w {
  border-color: #000000;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  background-color: rgb(244,244,244);	
  width:7px;
}

.dydrich_e {
  border-color: #000000;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  background-color: rgb(244,244,244);	
  width:7px;	  
}

.dydrich_sw {
  
}

.dydrich_s {
  
}

.dydrich_se, .dydrich_sizer  {
  
}

.dydrich_sizer {
	cursor:se-resize;	
}

.dydrich_close {
	width: 23px;
	height: 23px;
	margin-top: 5px;
	background: transparent url(dydrich/button-close-focus2.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
}

.dydrich_minimize {

}

.dydrich_maximize {
	
}

.dydrich_title {
	float:left;
	height:14px;
	font-size:13px;
	font-weight: bold;
	text-align:center;
	margin-top:0;
	width:100%;
	color:#FFFFFF;
}

.dydrich_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
	background:#E7E7E7;
	border-bottom: 2px solid #000000;
}

/* For alert/confirm dialog */
.dydrich_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.dydrich_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.dydrich_buttons {
	text-align:center;
	width:100%;
}

.dydrich_buttons input {
	width:20%;
	margin:10px;
}

.dydrich_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.dydrich_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


