# Created by .gitignore support plugin (hsz.mobi)

.buildpath
.project
css/calendar_img
css/skins
css/themes

css/site_themes/blue_orange/images

css/site_themes/bluegray/images

css/site_themes/indigo/images

css/site_themes/cyan/images

.settings
css/site_themes/blue_red/images
css/site_themes/light_blue/images
css/site_themes/pink/images
css/site_themes/purple/images
css/site_themes/teal/images

css/site_themes/purple/images/ui-bg_flat_100_ffffff_40x100.png
css/site_themes/purple/images/ui-icons_000000_256x240.png
css/site_themes/purple/images/ui-icons_333333_256x240.png
css/site_themes/purple/images/ui-bg_flat_65_EEFF41_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_00796B_40x100.png
css/site_themes/purple/images/icona_scuola.gif
css/site_themes/purple/images/ui-bg_flat_100_0097A7_40x100.png
css/site_themes/purple/images/ui-bg_flat_0_aaaaaa_40x100.png
css/site_themes/purple/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/purple/images/ui-icons_C2185B_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_4db6ac_40x100.png
css/site_themes/purple/images/ui-icons_7B1FA2_256x240.png
css/site_themes/purple/images/ui-icons_00796B_256x240.png
css/site_themes/purple/images/ui-icons_222222_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_ce93d8_40x100.png
css/site_themes/purple/images/ui-icons_8C9EFF_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_E91E63_40x100.png
css/site_themes/purple/images/ui-icons_cd0a0a_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_4DD0E1_40x100.png
css/site_themes/purple/images/ui-bg_glass_55_E0F7FA_1x400.png
css/site_themes/purple/images/ui-bg_flat_100_8C9EFF_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_18FFFF_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_00BCD4_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_7B1FA2_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_FF5252_40x100.png
css/site_themes/purple/images/ui-icons_EEEEEE_256x240.png
css/site_themes/purple/images/ui-icons_111111_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_FAFAFA_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_fafafa_40x100.png
css/site_themes/purple/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/purple/images/ui-bg_flat_100_C2185B_40x100.png
css/site_themes/purple/images/ui-icons_454545_256x240.png
