# Created by .gitignore support plugin (hsz.mobi)

.buildpath
.project
css/calendar_img
css/skins
css/themes

css/site_themes/blue_orange/images

css/site_themes/bluegray/images

css/site_themes/indigo/images

css/site_themes/cyan/images

.settings
css/site_themes/blue_red/images
css/site_themes/light_blue/images
css/site_themes/pink/images
css/site_themes/purple/images
css/site_themes/teal/images

css/site_themes/purple/images/ui-bg_flat_100_ffffff_40x100.png
css/site_themes/purple/images/ui-icons_000000_256x240.png
css/site_themes/purple/images/ui-icons_333333_256x240.png
css/site_themes/purple/images/ui-bg_flat_65_EEFF41_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_00796B_40x100.png
css/site_themes/purple/images/icona_scuola.gif
css/site_themes/purple/images/ui-bg_flat_100_0097A7_40x100.png
css/site_themes/purple/images/ui-bg_flat_0_aaaaaa_40x100.png
css/site_themes/purple/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/purple/images/ui-icons_C2185B_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_4db6ac_40x100.png
css/site_themes/purple/images/ui-icons_7B1FA2_256x240.png
css/site_themes/purple/images/ui-icons_00796B_256x240.png
css/site_themes/purple/images/ui-icons_222222_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_ce93d8_40x100.png
css/site_themes/purple/images/ui-icons_8C9EFF_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_E91E63_40x100.png
css/site_themes/purple/images/ui-icons_cd0a0a_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_4DD0E1_40x100.png
css/site_themes/purple/images/ui-bg_glass_55_E0F7FA_1x400.png
css/site_themes/purple/images/ui-bg_flat_100_8C9EFF_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_18FFFF_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_00BCD4_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_7B1FA2_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_FF5252_40x100.png
css/site_themes/purple/images/ui-icons_EEEEEE_256x240.png
css/site_themes/purple/images/ui-icons_111111_256x240.png
css/site_themes/purple/images/ui-bg_flat_100_FAFAFA_40x100.png
css/site_themes/purple/images/ui-bg_flat_100_fafafa_40x100.png
css/site_themes/purple/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/purple/images/ui-bg_flat_100_C2185B_40x100.png
css/site_themes/purple/images/ui-icons_454545_256x240.png

css/site_themes/teal/images/ui-icons_C2185B_256x240.png
css/site_themes/teal/images/ui-bg_flat_100_18FFFF_40x100.png
css/site_themes/teal/images/ui-icons_333333_256x240.png
css/site_themes/teal/images/ui-bg_flat_100_00BCD4_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_4db6ac_40x100.png
css/site_themes/teal/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_fafafa_40x100.png
css/site_themes/teal/images/ui-icons_00796B_256x240.png
css/site_themes/teal/images/ui-icons_8C9EFF_256x240.png
css/site_themes/teal/images/ui-bg_flat_100_4DD0E1_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_0097A7_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_FAFAFA_40x100.png
css/site_themes/teal/images/ui-icons_222222_256x240.png
css/site_themes/teal/images/ui-bg_flat_100_E91E63_40x100.png
css/site_themes/teal/images/ui-bg_glass_55_E0F7FA_1x400.png
css/site_themes/teal/images/ui-icons_cd0a0a_256x240.png
css/site_themes/teal/images/ui-bg_flat_100_00796B_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_C2185B_40x100.png
css/site_themes/teal/images/ui-icons_EEEEEE_256x240.png
css/site_themes/teal/images/icona_scuola.gif
css/site_themes/teal/images/ui-bg_flat_0_aaaaaa_40x100.png
css/site_themes/teal/images/ui-bg_flat_100_8C9EFF_40x100.png
css/site_themes/teal/images/ui-icons_111111_256x240.png
css/site_themes/teal/images/ui-bg_flat_65_EEFF41_40x100.png
css/site_themes/teal/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/teal/images/ui-icons_454545_256x240.png
css/site_themes/pink/images/ui-bg_flat_100_C2185B_40x100.png
css/site_themes/pink/images/ui-icons_222222_256x240.png
css/site_themes/pink/images/ui-bg_flat_100_00BCD4_40x100.png
css/site_themes/pink/images/ui-bg_flat_100_FAFAFA_40x100.png
css/site_themes/pink/images/ui-bg_flat_100_0097A7_40x100.png
css/site_themes/pink/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/pink/images/ui-bg_flat_0_aaaaaa_40x100.png
css/site_themes/pink/images/ui-bg_flat_100_E91E63_40x100.png
css/site_themes/pink/images/ui-icons_EEEEEE_256x240.png
css/site_themes/pink/images/ui-icons_8C9EFF_256x240.png
css/site_themes/pink/images/ui-bg_flat_100_8C9EFF_40x100.png
css/site_themes/pink/images/ui-icons_111111_256x240.png
css/site_themes/pink/images/ui-bg_flat_100_4DD0E1_40x100.png
css/site_themes/pink/images/icona_scuola.gif
css/site_themes/pink/images/ui-bg_glass_55_E0F7FA_1x400.png
css/site_themes/pink/images/ui-icons_cd0a0a_256x240.png
css/site_themes/pink/images/ui-bg_flat_65_EEFF41_40x100.png
css/site_themes/pink/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/pink/images/ui-icons_C2185B_256x240.png
css/site_themes/pink/images/ui-icons_333333_256x240.png
css/site_themes/light_blue/images/ui-icons_111111_256x240.png
css/site_themes/light_blue/images/ui-bg_flat_100_C2185B_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/light_blue/images/ui-icons_01579b_256x240.png
css/site_themes/light_blue/images/ui-icons_C2185B_256x240.png
css/site_themes/light_blue/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/light_blue/images/ui-bg_flat_0_aaaaaa_40x100.png
css/site_themes/light_blue/images/ui-icons_8C9EFF_256x240.png
css/site_themes/light_blue/images/ui-bg_flat_95_fafafa_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_100_8C9EFF_40x100.png
css/site_themes/light_blue/images/ui-icons_222222_256x240.png
css/site_themes/light_blue/images/ui-icons_ffffff_256x240.png
css/site_themes/light_blue/images/ui-bg_flat_65_EEFF41_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_65_01579b_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_75_0288D1_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_55_fafafa_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_100_FAFAFA_40x100.png
css/site_themes/light_blue/images/ui-icons_212121_256x240.png
css/site_themes/light_blue/images/ui-bg_flat_75_18FFFF_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_100_00BCD4_40x100.png
css/site_themes/light_blue/images/ui-icons_333333_256x240.png
css/site_themes/light_blue/images/icona_scuola.gif
css/site_themes/light_blue/images/ui-bg_flat_100_0097A7_40x100.png
css/site_themes/light_blue/images/ui-icons_cd0a0a_256x240.png
css/site_themes/light_blue/images/ui-bg_flat_75_03A9F4_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_100_4DD0E1_40x100.png
css/site_themes/light_blue/images/ui-bg_flat_100_E91E63_40x100.png
css/site_themes/light_blue/images/ui-bg_glass_55_E0F7FA_1x400.png
css/site_themes/light_blue/images/ui-icons_EEEEEE_256x240.png
css/site_themes/blue_red/images/ui-icons_888888_256x240.png
css/site_themes/blue_red/images/ui-bg_inset-soft_85_6D6E76_1x100.png
css/site_themes/blue_red/images/ui-bg_flat_100_FFFFFF_40x100.png
css/site_themes/blue_red/images/ui-icons_5e5f66_256x240.png
css/site_themes/blue_red/images/ui-bg_flat_75_ffffff_40x100.png
css/site_themes/blue_red/images/ui-bg_flat_0_1E4389_40x100.png
css/site_themes/blue_red/images/ui-bg_flat_0_DCE4D5_40x100.png
css/site_themes/blue_red/images/ui-icons_c80606_256x240.png
css/site_themes/blue_red/images/ui-icons_222222_256x240.png
css/site_themes/blue_red/images/ui-icons_090a0a_256x240.png
css/site_themes/blue_red/images/ui-bg_glass_95_fef1ec_1x400.png
css/site_themes/blue_red/images/ui-bg_flat_100_DCE4D5_40x100.png
css/site_themes/blue_red/images/ui-bg_glass_75_dadada_1x400.png
css/site_themes/blue_red/images/ui-bg_flat_100_F3F3F6_40x100.png
css/site_themes/blue_red/images/ui-bg_glass_100_f8f8f8_1x400.png
css/site_themes/blue_red/images/ui-icons_6D6E76_256x240.png
css/site_themes/blue_red/images/ui-icons_DCE4D5_256x240.png
css/site_themes/blue_red/images/ui-bg_glass_75_1E4389_1x400.png
css/site_themes/blue_red/images/animated-overlay.gif
css/site_themes/blue_red/images/ui-bg_highlight-soft_75_cccccc_1x100.png
css/site_themes/blue_red/images/ui-icons_1E4389_256x240.png
css/site_themes/blue_red/images/ui-bg_flat_100_6D6E76_40x100.png
css/site_themes/blue_red/images/ui-bg_flat_65_1E4389_40x100.png
css/site_themes/blue_red/images/ui-bg_flat_75_EF6C6C_40x100.png
css/site_themes/blue_red/images/ui-icons_2e83ff_256x240.png
css/site_themes/blue_red/images/ui-bg_inset-hard_60_DCE4D5_1x100.png
css/site_themes/blue_red/images/ui-bg_flat_55_FFF8F6_40x100.png
css/site_themes/blue_red/images/ui-icons_999999_256x240.png
css/site_themes/blue_red/images/ui-icons_EF6C6C_256x240.png
css/site_themes/blue_red/images/ui-bg_flat_55_f9f8b8_40x100.png
css/site_themes/blue_red/images/ui-bg_flat_75_1E4389_40x100.png
css/site_themes/blue_red/images/ui-icons_454545_256x240.png
css/site_themes/blue_red/images/ui-bg_glass_75_e6e6e6_1x400.png
css/site_themes/blue_red/images/ui-icons_454B5B_256x240.png
css/site_themes/blue_red/images/ui-icons_cd0a0a_256x240.png
css/site_themes/blue_red/images/ui-bg_glass_55_fbf9ee_1x400.png
css/site_themes/blue_red/images/ui-bg_glass_65_ffffff_1x400.png
css/site_themes/blue_red/images/ui-icons_3383bb_256x240.png
css/site_themes/blue_red/images/ui-bg_flat_0_aaaaaa_40x100.png
