*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0}

html {
    height: 100%
}

body {
    #background-color: #1E4389;
    font-size: 12px;
    font-family: Georgia, serif;
    height: 100%;
    margin: 0;

    background: rgb(30, 67, 137);
    background: -moz-linear-gradient(90deg, rgb(30, 67, 137) 30%, rgb(90, 140, 250) 100%);
    background: -webkit-linear-gradient(90deg, rgb(30, 67, 137) 30%, rgb(90, 140, 250) 100%);
    background: -o-linear-gradient(90deg, rgb(30, 67, 137) 30%, rgb(90, 140, 250) 100%);
    background: -ms-linear-gradient(90deg, rgb(30, 67, 137) 30%, rgb(90, 140, 250) 100%);
    background: linear-gradient(180deg, rgb(30, 67, 137) 30%, rgb(90, 140, 250) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

}


.area {
    width: 33%;
    text-align: center;
    padding-top: 10%;
    float: left
}

#area_school {
    padding-top: 14%;
}

#center_el {
    padding-top: 20%
}

#login_form {
    width: 600px;
    height: 330px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    background-color: #FFF;
}

#_header {
    margin: 100px auto 30px auto;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    width: 400px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    #text-shadow: 0 0 5px #FFFFFF;
    display: block
}

#_header p {
    font-size: 0.7em;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    text-transform: none
}

#_subheader{
    font-size: 0.7em;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    text-transform: none
}

img {
    width: 150px;
}

#parents, #students, #school {
    width: 150px;
    margin: auto;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #1E4389;
    font-weight: bold
}

a {
    text-decoration: none
}

input {
    width: 90%;
    color: rgba(30, 67, 137, 1);
    border: 2px solid rgba(30, 67, 137, .6);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    background-color: rgba(30, 67, 137, .1);
    font-size: 1.5em;
    margin: auto;
}

#button, #mail_button {
    width: 120px;
    heigth: 65px;
    background-color: rgba(30, 67, 137, 1);
    color: #EEEEEE;
    font-size: 1.15em;
    margin-top: 20px
}

div.login_label {
    width: 25%;
    float: left;
    text-align: center;
    color: rgba(30, 67, 137, 1);
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px #FFFFFF;
    padding-top: 7px
}

div#t1 {
    clear:left;
    width: 90%;
    margin: auto;
    height: 60px;
    color: rgba(30, 67, 137, 1);
}

.start_link a {
    position: relative;
    top: 40%;
    color: rgba(30, 67, 137, 1);
    font-size: 1.6em;
    text-transform: uppercase;
    width: 100%;
}

.start_link img {
    width: 55px;
    display: inline
}
