html {
    height: 100%
}

body {
    background: rgb(224, 247, 250);
    background: -moz-linear-gradient(90deg, rgb(224, 247, 250) 30%, rgb(178, 235, 242) 90%);
    background: -webkit-linear-gradient(90deg, rgb(224, 247, 250) 30%, rgb(178, 235, 242) 90%);
    background: -o-linear-gradient(90deg, rgb(224, 247, 250) 30%, rgb(178, 235, 242) 90%);
    background: -ms-linear-gradient(90deg, rgb(224, 247, 250) 30%, rgb(178, 235, 242) 90%);
    background: linear-gradient(180deg, rgb(224, 247, 250) 30%, rgb(178, 235, 242) 90%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

form {
    border: 1px solid rgba(30, 67, 137, .9);
}

input, select, textarea {
    background-color: rgba(239, 251, 252, .8);
    border: 1px solid rgba(30, 67, 137, .6);
}

#header {
    background-color: #0097A7;
}

#header a {
    color: #FFFFFF;
}

#sc_firstrow {
    color: rgb(255, 255, 255);
}

#sc_secondrow {
    width: 40%;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

#main {
    padding: 0;
}

#main a {
    color: #1E4389;
}

#right_col a {
    color: #222222;
}

#navigation {
    color: #DDDDDD;
    background-color: #00BCD4;
}

#navigation a {
    color: #DDDDDD;
}

.nav_div {
    color: #000000;
}

.card a {
    color: #0097A7 !important;
}

.card_title a {
    color: #0097A7 !important;
}

div.card_title {
    color: #0097A7;
}

div.navigate {
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: #FFFFFF;
}

div.navigate a {
    color: #003366;
}

fieldset {
    border: 1px solid #0097A7;
}

.context_menu, #hid, #tipinota, .tooltip, #d_tp {
    background-color: #EFFBFC;
    color: #222222;
}

.context_menu a, #pop a, #hid a, #tipinota a, #d_tp a {
    color: rgba(30, 67, 137, 1);
}

div.mdtabs {
    background-color: #00BCD4;
    top: -20px;
}

div.mdtab a > span {
    color: #DDDDDD;
}

div.mdselected_tab {
    color: #ffd740;
    border-bottom: 2px solid #000000;
}

div.mdselected_tab a > span {
    color: #000000 !important;
}

.outline_line_wrapper {
    color: #000000;
    border: 1px solid #e040fb;
}

.rb_button {
    background-color: #ffd740;
}

.rb_bg {
    background-color: #FFF3E0;
}

.conf_frame {
    border: 1px solid #0097A7;
}

.accent_button a, a.material_link, .material_label {
    color: #0097A7 !important;
}


.accent_decoration {
    border-bottom: 1px solid #e040fb !important;
}

.hover_row:hover {
    background-color: #0097A7;
    color: white;
    border-radius: 4px;
}

.accent_color, div.accent_color {
    color: #e040fb;
}

.accent_color a {
    color: #e040fb !important;
}

.page_menu{
    background-color: #EFFBFC;
    padding: 10px;
    border: 1px solid rgba(30, 67, 137, .4);
    border-radius: 4px ;
    color: #222222;
    box-shadow: 0 0 8px #666;
    z-index: 100
}

.page_menu a {
    color: #222222;
    text-decoration: none
}

#ticker li, #tr_ticker li {
    color:#fff;
    border-bottom:1px solid #e040fb;;
    background-color: white;
}

#ticker li a, #tr_ticker li a {
    color: #1E4389 !important;
}

.icon_card {
    background-color: #e040fb;
    color: #202020;
}

.icon_card_accent {
    background-color: #0097A7;
    color: white;
}

.text_card {
    color: #0097A7 !important;
    font-weight: 600;
}

.text_card a {
    color: #0097A7 !important;
    font-weight: 600;
}

input.android:focus, select.android:focus, textarea.android:focus {
    border-color: #00BCD4;
}

.main_700, .main_700 a {
    color: #0097A7 !important;
}

.main_500, .main_500 a {
    color: #00BCD4 !important;
}

.alert_msg, .error_msg, .confirm_msg {
    background-color: #FFFFFF;
    border: 1px solid #006064;
}

.alert_title, .confirm_title {
    border-bottom: 1px solid #0097A7;
    color: #006064;
}

.error_title {
    color: rgba(200, 6, 6, 1);
    border-bottom: 1px solid #00BCD4;
}

.alert_title span, .error_title span, .confirm_title span {
    padding-left: 10px;
    font-size: 1em
}

.material_dark_bg {
    background-color: #0097A7;
    color: white;
}

.material_light_bg {
    background-color: #4dd0e1;
    color: #222222;
}

.popup_form {
    border: 1px solid rgba(0, 188, 212, .6);
}

.float_button {
    background-color: #0097A7 !important;
    color: #ffffff;
}

.float_button:hover {
    background-color: #e040fb !important;
    color: #000000;
}

#gotoday, #newweek {
    background-color: #0097A7;
    border-color: #0097A7;
    color: white;
    font-weight: bold;
}
