html {
    height: 100%
}

body {
    background: rgb(225, 245, 254);
    background: -moz-linear-gradient(90deg, rgb(225, 245, 254) 30%, rgb(128, 216, 255) 70%);
    background: -webkit-linear-gradient(90deg, rgb(225, 245, 254) 30%, rgb(128, 216, 255) 70%);
    background: -o-linear-gradient(90deg, rgb(225, 245, 254) 30%, rgb(128, 216, 255) 70%);
    background: -ms-linear-gradient(90deg, rgb(225, 245, 254) 30%, rgb(128, 216, 255) 70%);
    background: linear-gradient(180deg, rgb(225, 245, 254) 30%, rgb(128, 216, 255) 70%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

form {
    border: 1px solid rgba(30, 67, 137, .9);
}

input, select, textarea {
    background-color: #FFF3E0;
    border: 1px solid rgba(30, 67, 137, .6);
}

#header {
    background-color: #F57C00;
}

#header a {
    color: #FFFFFF;
}

.main500 {
    color: #ff9800;
}

.main700 {
    color: #F57C00;
}

#sc_firstrow {
    color: rgb(255, 255, 255);
}

#sc_secondrow {
    width: 40%;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

#main {
   padding: 0;
}

#main a {
    color: #1E4389;
}

#right_col a {
    color: #222222;
    text-decoration: none;
}

#navigation {
    color: #DDDDDD;
    background-color: #ff9800;
}

#navigation a {
    color: #DDDDDD;
}

.nav_div {
    color: black;
}

.card a {
    color: #F57C00 !important;
}

div.card_title {
    color: #FB8C00;
}

div.navigate a {
    color: #003366;
}

fieldset {
    border: 1px solid #F57C00;
}

.context_menu, #hid, #tipinota, .tooltip, #d_tp {
    background-color: #FFF7E9;
    padding: 10px;
    border: 1px solid rgba(30, 67, 137, .2);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #222222;
    z-index: 100;
    position: absolute;
}
.context_menu a, #pop a, #hid a, #tipinota a, #d_tp a {
    text-decoration: none;
    color: #1E4389;
}

.contextmenu_title {
    color: #F57C00;
}

div.mdtabs {
    background-color: #ff9800;
    top: -20px;
}

div.mdselected_tab {
    color: #000000;
    border-bottom: 2px solid #000000;
}

div.mdselected_tab a > span {
    color: #000000 !important;
}

.outline_line_wrapper {
   color: #000000;
    border: 1px solid #4d73ff;
}

.rb_button {
    background-color: #40c4ff;
}

.rb_bg {
    background-color: #FFF3E0;
}

.conf_frame {
    border: 1px solid rgba(30, 67, 137, .6);
}

.accent_button a, a.material_link, .material_label {
    color: #F57C00 !important;
}

.accent_color {
    color: #FF9800;
}

.accent_color a {
    color: #FF9800 !important;
}

.accent_decoration {
    border-bottom: 1px solid #FF9800 !important;
}

#ticker li, #tr_ticker li {
    color:#fff;
    border-bottom:1px solid #FF9800;;
    background-color: white;
}
#ticker li a, #tr_ticker li a {
    color: #1E4389 !important;
}

.icon_card {
    background-color: #40c4ff;
    color: #202020;
}

.icon_card_accent {
    background-color: #F57C00;
    color: white;
}

.text_card {
    color: #F57C00 !important;
}

.text_card a {
    color: #F57C00 !important;
}

input.android:focus, select.android:focus, textarea.android:focus {
    border-color: #ff9800;
}

.main_700, .main_700 a {
    color: #F57C00 !important;
}

.main_500, .main_500 a {
    color: #ff9800 !important;
}

.alert_msg, .error_msg, .confirm_msg {
    background-color: #FFFFFF;
    border: 1px solid #e65100;
}

.alert_title, .confirm_title {
    border-bottom: 1px solid #F57C00;
    color: #e65100;
}

.error_title {
    color: rgba(200, 6, 6, 1);
    border-bottom: 1px solid #ff9800;
}

.alert_title span, .error_title span, .confirm_title span {
    padding-left: 10px;
    font-size: 1em
}

.material_dark_bg {
    background-color: #0277bd;
}

.material_light_bg {
    background-color: #42a5f5;
    color: #222222;
}

.popup_form {
    border: 1px solid rgba(255, 152, 0, .6);
}

.float_button {
    background-color: #F57C00 !important;
    color: #ffffff;
}

.float_button:hover {
    background-color: #40c4ff !important;
    color: #000000;
}

#gotoday, #newweek {
    background-color: #FF9800;
    border: 1px solid #FF9800;
    color: #000000;
    border-radius: 2px;
}
