@CHARSET "UTF-8";

#navbar {
    border-bottom: 1px solid #FF4081;
}

#oth_user {
    background-color: rgba(131, 2, 29, 0.3);
    border: 1px solid rgba(131, 2, 29, 1);
    color: black;
}

.thread {
    border-right: 3px solid #EF6C6C;
    border-left: 1px solid #EF6C6C;
    border-bottom: 5px solid #EF6C6C;
}

.thread_header {
    border-bottom: 1px solid #EF6C6C;
    color: #111;
}

.new_msg_sign {
    color: rgba(131, 2, 29, 1);
}

.thread_lm {
    color: #666;
}

#username {
    color: #242424;
}

#message {
    border: 1px solid rgba(30, 67, 137, .7);
    border-radius: 0 0 5px 5px;
    color: #484848
}

#targets {
    border-left: 1px solid rgba(30, 67, 137, .7);
    color: #484848;
}

#to {
    border: 1px solid rgba(30, 67, 137, .7);
}

#target {
    width: 98%;
    height: 25px;
    border: none;
    float: left;
    text-align: left;
    padding-left: 10px;
    font-weight: bold
}

#get_to {
    border: 1px solid rgba(30, 67, 137, .7);
}

#txt {
    border: 1px solid rgba(30, 67, 137, .7);
}

.message_detail {
    border: 1px solid rgba(30, 67, 137, .7);
    background-color: rgba(30, 67, 137, .1);
    color: #111111;
}

.message_header {
    color: rgba(0,0,0,.66);
}

.msg_send {
    color: rgba(0,0,0,.54);
}

.msg_read {
    color: rgba(0,0,0,.54);
}

.target_msg {
    background-color: #FFFFFF;
    border: 1px solid #FF4081;
}

.notification {
    border: 1px solid rgba(30, 67, 137, .7);
    background-color: rgba(30, 67, 137, .2);
    color: #484848
}

.error {
    background-color: rgba(131, 2, 29, 0.3);
    border: 1px solid rgba(131, 2, 29, 1);
    color: black;
}

.evento {
    border: 1px solid rgba(211, 222, 199, 1);
}

#groups {
    background-color: #FF9800;
}

#groups table thead tr {
    border-bottom: 1px solid rgba(30, 67, 137, .5);
}

#groups table tbody tr {
    border-bottom: 1px solid rgba(30, 67, 137, .5);
}
