@CHARSET "UTF-8";

*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0} 

body {
	#background: url(../../../images/body2.png) repeat;
	background-color: #F3F3F6;
	font-size: 12px; 
	font-family: Georgia;
	padding: 0;
	margin: 0;
}

a {
	color: #373946;
	text-decoration: none
}

#main {
	width: 100%; 
	background-color: #F3F3F6;
	#border-radius: 20px ; 
	margin: 0; 
	#box-shadow: 0 0 5px #CCCCCC;
	padding: 0 0 10px 0;
}

#pop_main {
	width: 100%; 
	background-color: #F3F3F6;
	#border-radius: 20px ; 
	margin: 0; 
	#box-shadow: 0 0 5px #CCCCCC;
	padding: 0 0 10px 0;
}

#main a {
	color: #373946;
}

div.row {
	width: 100%; 
	padding: 5px 0 5px 0;
}

#hid {
	position: absolute; 
	width: 200px; 
	height: 65px; 
	border: 1px solid #AAAAAA; 
	border-radius: 0px 5px 0px 5px; 
	background-color: rgb(211, 222, 199); 
	padding-left: 10px
}

#hid a {
	color: #222222;
}

table.registro {
	width: 95%; 
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}

table.registro tbody a {
	text-decoration: none;
}

table.registro tr.nav_tr, table.registro tr.head_tr {
	background-color: rgba(211, 222, 199, 0.7);
	height: 2.5em;
}

table.registro td {
	border: 1px solid #999999;
}

table.registro tbody tr:hover {
	background-color: rgba(211, 222, 199, 0.6);
}

input, select, textarea {
	background-color: rgba(211, 222, 199, 0.6);
	border: 1px solid #CCCCCC;
	font-size: 1em
}

.nav_div {
	float: left; 
	text-transform: uppercase; 
	width: 120px	
}

#context_menu {
	background-color: rgb(211, 222, 199); 
	padding: 10px; 
	border: 1px solid #AAAAAA; 
	border-radius: 0px 10px 0px 10px;
	color: #222222;
}
#context_menu a {
	color: #222222;
}

.popup_header {
	font-size: 12px; 
	font-weight: bold; 
	margin: 25px auto 0 auto; 
	text-align: center;
	vertical-align: middle;
	width: 95%;
	height: 20px;
	background-color: rgb(211, 222, 199);
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	padding-top: 10px
}

.nav_link_first {
	margin-right: 10px;
}

.nav_link {
	margin-right: 10px;
	margin-left: 10px
}

.nav_link_last {
	margin-left: 10px
}



